.music-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #ffffff;
}

.roll {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 60px;
}
.roll::-webkit-scrollbar {
    display: none;
}

.roll-notification {
    color: #9c9c9c;
    text-align: center;
}
.walk-container {
    padding-top: 10px;
}