.search {
    width: auto;
    height: 60px;
    min-height: 60px;
    background: #ffffff;
    display: flex;
    z-index: 2;
}

.input-search {
    outline: none;
    flex-grow: 1;
    padding: 0 0 0 26px;
    height: 60px;
    box-sizing: border-box;
    border: none;
    line-height: 60px;
}

.button-search {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    -webkit-mask: url('svg/down.svg') no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 15px;
    background-color: #323232;
    border: none;
}